<div class="row mt-3">
<div class="col-6">
  <label for="">From Date</label>
  <input type="date" class="form-control" formControlName="fromDate">
</div>

<div class="col-6">
<label for="">To Date</label>
<input type="date" class="form-control" formControlName="toDate">
</div>
</div>

<div class="row mt-4 content-center">
  <form class="example" action="">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>
</div>
