<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Leave Details
                    </div>
                    <div class="col-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Contact</th>
                            <th>Leave Type</th>
                            <th>Leave Date</th>
                            <th>Leave Reason</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of leaveData let i=index">
                            <td>{{i+1}}</td>
                            <td>{{row.firstName}}</td>
                            <td>{{row.contact}}</td>
                            <td>{{row.leaveType}}</td>
                            <td>{{row.leaveDate}}</td>
                            <td>{{row.leaveReason}}</td>


                            <td>
                                <button class="btn btn-warning mx-1" (click)="onEdite(row)">Edit</button>
                                <button class="btn btn-danger mx-1" (click)="deleteAttendance(row)">Delete</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-6 text-white">
                                Leave
                            </div>
                            <!-- If needed content for the right side -->
                            <div class="col-6 text-right">
                                <!-- Content goes here -->
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="formValue">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <label for="firstName">First Name</label>
                                    <div>
                                        <select formControlName="firstName" id="firstName">
                                            <option *ngFor="let emp of employeeData" [value]="emp.firstName">{{ emp.firstName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="contact">Contact</label>
                                    <input type="text" class="form-control" formControlName="contact">
                                </div>
                                <div class="col-6">
                                    <label for="leaveType">Leave Type</label>
                                    <select class="form-control" formControlName="leaveType" id="leaveType">
                                        
                                        <option value="Paid Leave">Paid Leave</option>
                                        <option value="Unpaid Leave">Unpaid Leave</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="leaveDate">Leave Date</label>
                                    <input type="date" class="form-control" formControlName="leaveDate">
                                </div>
                                <div class="col-6">
                                    <label for="leaveReason">Leave Reason</label>
                                    <textarea class="form-control" formControlName="leaveReason"></textarea>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-6 text-center pt-3">
                                    <button class="btn btn-secondary btn-sm" (click)="resetForm()">Reset</button>
                                </div>
                                <div class="col-6 text-center pt-3">
                                    <button class="btn btn-success btn-sm" (click)="leaveSave()">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        